.preparaty-items {
  display: grid;
  @include adaptiveValue("gap", 40, 30);
}

.preparaty-item {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 40, 20);
  @media (max-width: $mobile) {
    flex-wrap: wrap;
    justify-content: center;
  }
  // .preparaty-item__img
  &__img {
    flex: 0 0 24%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    @media (max-width: $tablet) {
      flex: 0 0 30%;
    }
    @media (max-width: $mobile) {
      flex: 0 0 60%;
    }
    @media (max-width: $mobileSmall) {
      flex: 1 1 100%;
    }
  }

  // .preparaty-item__info
  &__info {
    display: grid;
    gap: toRem(20);
  }
}
